.question-page-container .timer {
  text-align: center;
  width: 100%;
  position: absolute;
  /* bottom: 2rem; */
  left: 50%;
  transform: translateX(-50%);
}

.timer h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--light-blue);
}

.timer p {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #555;
}

/* Another instance of style of the timer */
.model-question-container .timer {
  text-align: right;
  width: 100%;
  position: fixed;
  right: 0;
  padding-right: 1rem;
  top: 0;
  background: var(--purple);
  padding-bottom: 6px;
}

.model-question-container .timer h1 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #fff;
}

.model-question-container .timer p {
  font-weight: lighter;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(241, 235, 235);
}

@media (max-width: 325px) {
  .question-page-container .timer {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 18%;
    /* bottom: 0; */
    right: 0;
    transform: translateX(-50%);
  }

  .timer h1 {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .timer p {
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #555;
  }
}

/* ------------------------------ */
